<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
        body {
            font-family: 'Inter', sans-serif;
        }
    </style>
</head>
<body class="bg-gray-100">
    <!-- Navigation Bar -->
    <nav class="bg-white border-b border-gray-200">
        <div class="container mx-auto p-4 flex justify-between items-center">
            <div class="flex items-center space-x-4">
                <img src="{{ url_for('static', filename='images/football.webp') }}" alt="Football" class="h-12 w-12">
                <a href="/index" class="text-gray-700 hover:text-blue-600 transition duration-150 ease-in-out">Evaluar</a>
                <a href="/about-us" class="text-blue-600 border-b-2 border-blue-600 transition duration-150 ease-in-out">Sobre nosotros</a>
            </div>
            <button type="button" onclick="logout()" class="inline-flex items-center gap-1.5 rounded-lg border border-gray-300 bg-white px-5 py-2.5 text-center text-sm font-medium text-gray-700 shadow-sm transition-all hover:bg-gray-100 focus:ring focus:ring-gray-100 disabled:cursor-not-allowed disabled:border-gray-100 disabled:bg-gray-50 disabled:text-gray-400">
                <b>Cerrar Sesión</b>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-4 w-4">
                    <path fill-rule="evenodd" d="M3 4.25A2.25 2.25 0 015.25 2h5.5A2.25 2.25 0 0113 4.25v2a.75.75 0 01-1.5 0v-2a.75.75 0 00-.75-.75h-5.5a.75.75 0 00-.75.75v11.5c0 .414.336.75.75.75h5.5a.75.75 0 00.75-.75v-2a.75.75 0 011.5 0v2A2.25 2.25 0 0110.75 18h-5.5A2.25 2.25 0 013 15.75V4.25z" clip-rule="evenodd" />
                    <path fill-rule="evenodd" d="M6 10a.75.75 0 01.75-.75h9.546l-1.048-.943a.75.75 0 111.004-1.114l2.5 2.25a.75.75 0 010 1.114l-2.5 2.25a.75.75 0 11-1.004-1.114l1.048-.943H6.75A.75.75 0 016 10z" clip-rule="evenodd" />
                </svg>
            </button>
        </div>
    </nav>

    <section class="bg-gray-100">
        <div class="container mx-auto py-16 px-4 sm:px-6 lg:px-8">
            <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-8">
                <div class="max-w-lg">
                    <h2 class="text-3xl font-extrabold text-gray-900 sm:text-4xl">Sobre Nosotros</h2>
                    <p class="mt-4 text-gray-600 text-lg">
                        Bienvenido a nuestra página web dedicada a la detección de acciones en partidos de fútbol. Nuestro objetivo es proporcionar una herramienta precisa y eficiente que permita a los usuarios analizar partidos o clips subidos a la plataforma.
                    </p>
                    <p class="mt-4 text-gray-600 text-lg">
                        Utilizamos una combinación de resultados de tres modelos preentrenados con el dataset de SoccerNet para garantizar la mejor precisión posible. Sin embargo, es importante tener en cuenta que nuestros modelos realizan mejores predicciones con videos oficiales del dataset de SoccerNet. Si se utilizan videos de otras fuentes, puede que las predicciones no sean del todo precisas.
                    </p>
                    <div class="mt-8">
                        <a href="https://www.soccer-net.org/tasks/action-spotting" target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:text-blue-600 font-medium">Más sobre detección de acciones</a>
                        <span class="ml-2">&#8594;</span>
                    </div>
                </div>
                <div class="mt-12 md:mt-0">
                    <img src="https://images.unsplash.com/photo-1531973576160-7125cd663d86" alt="About Us Image" class="object-cover rounded-lg shadow-md">
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.js"></script>
    <script>
        async function logout() {
            const response = await fetch('/logout', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            });

            if (response.ok) {
                window.location.href = '/login';
            } else {
                alert('Error al cerrar sesión');
            }
        }
    </script>
</body>
</html>